// time card
.time-card {
	// max-width: 400px;
}

// progress
.progress-approval {
	width: 100%;
	// max-width: 350px;
	display: table;
	table-layout: fixed;
	padding: 0;
	margin: 0;
}
.progress-step {
	vertical-align: top;
	position: relative;
	counter-increment: number;
	display: block;
	text-align: left;
	&.completed {
		color: $gray-600;
	}
	&.now {
		&::before {
			background-color: $primary;
		}
	}
	&:last-child {
		.approver {
			border-bottom: 0;
		}		
	}
}
.progress-step::before {
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	z-index: 10;
	margin: 0;
	display: inline-block;
	left: 0;
	top: 50%;
	margin-top: -3px;
}
.progress-step:not(:first-child)::after {
	content: "";
	position: absolute;
	z-index: 5;
	top: -32px;
	height: 125%;
	width: 1px;
	left: 2px;
}

.progress-step::before, .progress-step::after {
	background-color: $gray-500;
}
.approver{
	cursor: default;
	width: 94%;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 0px;
	margin-left: 20px;
	border-bottom: 1px $gray-500 solid;
}