extends ../../template/layout

block vars
  - var pageID = 'page-home';

block content
  .container
    .content
      #app-thsr
        .d-md-block.d-none
          ul.menu-tabs.h4.text-center
            li.mr-4
              a.active(href="#") 時刻表查詢
            li.mr-4
              a(href="") 停靠站查詢
            li.mr-4
              a(href="") 剩餘車位查詢
        .d-block.d-md-none
          select.form-control-lg.bg-light.w-100
            option 時刻表查詢
            option 停靠站查詢
            option 剩餘車位查詢

        .data-content
          #tab-content-1
            .row
              .col-md-4.col-12
                .user-input-area.mb-5
                  .row
                    .col-12.mb-4
                      div.mb-2.text-secondary FROM
                      div
                        select.form-control
                          option chose
                    .col-12.mb-4
                      div.mb-2.text-secondary TO
                      div
                        select.form-control
                          option chose
                    .col-12.mb-4
                      div
                        a(href="#").btn.btn-primary.d-block SEARCH
              .col-md-8.col-12
                .h5.mb-3.text-secondary 2020/03/29 時刻表
                .time-card
                  ul.list-group.w-md-50
                    li.list-group-item
                      .thsr-no.text-primary.mb-2.h5 #車次1234
                      .thsr-time.h4 17:28 - 19:25

                    li.list-group-item 
                      .thsr-no.text-primary.mb-2.h5 #車次1234
                      .thsr-time.h4 17:28 - 19:25
          
          #tab-content-2
            ol.progress-approval
              li.progress-step
                .approver
                  span.name-tw.mr-2.h5 南港
                  span.name-en.text-secondary.h6 NAngang
              li.progress-step
                .approver
                  span.name-tw.mr-2.h5 南港
                  span.name-en.text-secondary.h6 NAngang



          #tab-content-3
            .row
              .col-md-4.col-12
                .user-input-area.mb-5
                  .row
                    .col-12.mb-4
                      div.mb-2.text-secondary FROM
                      div
                        select.form-control
                          option chose
                    .col-12.mb-4
                      div.mb-2.text-secondary TO
                      div
                        select.form-control
                          option chose
                    .col-12.mb-4
                      div
                        a(href="#").btn.btn-primary.d-block SEARCH
              .col-md-8.col-12
                .h5.mb-3.text-secondary 2020/03/29 時刻表
                .time-card
                  ul.list-group.w-md-50
                    li.list-group-item
                      .row
                        .col.border-right
                          .thsr-no.text-primary.mb-2.h5 #車次1234
                          .thsr-time.h4 17:28 - 19:25
                        .col.pt-2.text-right
                          .seat.text-info V sss seat avalible
                          .seat.text-danger X aaa seat not avalible
                    li.list-group-item
                      .row
                        .col.border-right
                          .thsr-no.text-primary.mb-2.h5 #車次1234
                          .thsr-time.h4 17:28 - 19:25
                        .col.pt-2.text-right
                          .seat.text-info V sss seat avalible.
                          .seat.text-danger X aaa seat not avalible.