doctype html
<!--[if IE 8]><html class="ie8" lang="zh-TW"><![endif]-->
<!--[if gte IE 8]><html class="gte-ie8" lang="zh-TW"><![endif]-->
<!--[if gt IE 8]><!-->
html(lang='zh-TW')
  <!--<![endif]-->
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    link(rel='icon', type='image/jpg', href='#')
    title test
    link(rel='stylesheet', href='/css/main.css')

  - var pageID = '';
  block vars
  body(id=pageID)
    #main-wrap
      block content
    block script