html {
	font-size: 14px;
}

body {
	// overflow-y: scroll !important;
	font-family: $font-family-base;
	word-wrap: break-word;
	word-break: break-word;
	::selection{
		background-color: $primary;
		color: white;
	}
	::-moz-selection {
		background-color: $primary;
		color: white;
	}
	a:hover {
		text-decoration: none;
	}
	.content {
		padding: 5vh  0;
	}
	@include max_md {
		background: #fefefe;
	}
}


ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}