.menu-tabs {
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		position: relative;
		color: $gray;
		&.active {
			font-weight: bold;
			color: black;
			&:before {
				content: '';
				background: $primary;
				width: 36%;
				height: 3px;
				position: absolute;
				bottom: -10px;
				left: 50%;
				margin-left: -18%;
			}
		}
	}
}

.content {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.data-content {
	padding: 7vh 0;
}
