$gray: #9b9b9b;
$secondary: #dedede;

// text
$font-size-base: 1rem;
$h1-font-size:	$font-size-base * 2;
$h2-font-size:	$font-size-base * 1.75;
$h3-font-size:	$font-size-base * 1.5;
$h4-font-size:	$font-size-base * 1.25;
$h5-font-size:	$font-size-base;
$h6-font-size:	12px;
$font-family-base: Arial, Meiryo,"文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif; 



// path
$local-path: '../static/imgs/';
// $sub-path: ;
// $build-path: ;